<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
    <title>{% block title %}Strona główna{% endblock %}</title>
    <link rel="stylesheet" href="styles.css"> <!-- Możesz połączyć style CSS w osobnym pliku -->
    <style>
        /* Tutaj mogą być również wspólne style CSS */
    </style>
</head>

<body  style="background-color:#DDDDDD">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" id="upload_file"  href="{{ url_for('upload_file') }}">Upload PDF</a>
                <a class="nav-item nav-link" id="fetch_acts" href="{{ url_for('fetch_acts') }}">Fetch Acts</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %} <!-- Zawartość specyficzna dla każdej strony -->

</body>

</html>
