{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h1>Main page</h1>
    <h2>Master's thesis topic: Automatic extraction of keywords from legal acts</h2>
    <h4>Objective: To extract keywords from Polish legal acts using available algorithms or machine learning models. 
        Test existing solutions and make a reasoned choice of the best ones. Create a hierarchy of keywords extracted 
        from the text together with those available directly from the Journal of Laws API. The hierarchy should allow 
        for deep and broad keyword searches. Keywords should lead to texts and then to specific fragments containing them.</h4>

{% endblock %}
